body{
    background-image: url(../images/pexels-stein-egil-liland-3408744.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(237, 234, 230, 0.499);
    background-attachment: fixed;
}
.head{
    text-align: center;    
}

.head h1{
        font-size: 30px;
        color: aquamarine;
}

.ban{
    text-align: center;
}

.ban img{
    width: 200px;
}